<div class="main-content">
    <h1>Dashboard</h1>
    <h3>Welcome, <%= @user.username%></h3>
    
    <% if defined? @admin%>
        <h5>Admin</h5>
        <div class="container flex-row">
            <div class="col-12 flex-col fs">
                <%= link_to "Instructor Listing", instructors_index_path %>
                <%= link_to "Matchmaker", matchmaker_index_path %>
            </div>
            <div class="col-12">
                <p>Course Overview</p>
                <%= form_for :search, url: course_overview_index_path do |form| %>
                    <%= form.text_field :query, placeholder: "CLAS ###" %>
                    <%= form.submit "Search" %>
                <% end %>
            </div>
        </div>
    <% end %>
    
    <% if defined? @instructor%>
        <h5>Instructor</h5>
        <div>
            <table>
                <tr>
                    <td>
                        <%= link_to "Rank Applications", prof_ranking_index_path %>
                    </td>
                    <td>
                        <%= link_to "Add Posting" %>
                    </td>
                    <td>
                        <%= link_to "View Postings" %>
                    </td>
                </tr>
            </table>
        </div>
    <% end %>
    
    <% if defined? @student%>
        <h5>Student</h5>
        <div>
            <table>
                <tr>
                    <td>
                        <%= link_to "Create Application", ta_application_index_path %>
                    </td>
                    <td>
                        <%= link_to "Accepted Applications" %>
                    </td>
                    <td>
                        <%= link_to "Pending Applications" %>
                    </td>
                </tr>
            </table>
        </div>
    <% end %>
</div>