<div class="main-content">
    <h1>Dashboard</h1>
    <h3>Welcome, <%= @user.username%></h3>
    
    <% if defined? @admin%>
        <h5>Admin</h5>
        <div class="pretty-container">
            
            <a href="<%= instructors_index_path %>">
                <div>
                    Instructor Listing
                    <img src="/assets/instructor.svg"/>
                </div>
            </a>
            
            <a href="<%= matchmaker_index_path %>">
                <div>
                    Matchmaker
                    <img src="/assets/matchmaker.svg"/>
                </div>
            </a>
            
        </div>
        <div style="display: none;">
            <p>Course Overview</p>
            <%= form_for :search, url: course_overview_index_path do |form| %>
                <%= form.text_field :query, placeholder: "CLAS ###" %>
                <%= form.submit "Search", :class=>"right-border fade-btn" %>
            <% end %>
        </div>
    <% end %>
    
    <% if defined? @instructor%>
        <h5>Instructor</h5>
        <div class="pretty-container">
            <a href="<%= prof_ranking_index_path %>">
                <div>
                    Rank Applications
                    <img src="/assets/rank.svg"/>
                </div>
            </a>
        </div>
    <% end %>
    
    <% if defined? @student%>
        <h5>Student</h5>
        <div class="pretty-container">
            <% if defined? @applicationFound %>
                <a href="<%= edit_applicant_path(@application) %>">
                    <div>
                        Edit Application
                        <img src="/assets/edit_app.svg"/>
                    </div>
                </a>
            <% else %>
                <a href="<%= new_applicant_path %>">
                    <div>
                        Create Application
                        <img src="/assets/new_app.svg"/>
                    </div>
                </a>
            <% end %>
            <% if defined? @applicationFound %>
                <a href="<%= view_applications_path %>">
                    <div>
                        Submitted Applications
                        <img src="/assets/view_app.svg"/>
                    </div>
                </a>
            <% end %>
        </div>
    <% end %>
</div>