<div class="main-content">
    <h1> <%= @applicant.name %></h1>
    <div class="org-container">
        <div>
            <h3>Email</h3>
            <%= @applicant.email %>
        </div>
        <div>
            <h3>Degree Program</h3>
            <%= @applicant.degree_program %>
        </div>
        <div>
            <h3>Years</h3>
            <%= @applicant.years %>
        </div>
        <div>
            <h3>Advisor</h3>
            <%= @applicant.advisor %>
        </div>
    </div>
    <div class="org-container">
        <div>
            <h3 class="org-title" style="background: #00b894;">Preferences</h3>
            <ul class="pretty-scroll">
                <% if @applicant.preferences.length > 0 %>
                    <% @applicant.preferences.each do |item| %>
                        <li><%= item %></li>
                    <% end %>
                <% else %>
                    <span>None</span>
                <% end %>
            </ul>
        </div>
        <div>
            <h3 class="org-title" style="background: #d63031;">Anti-Preferences</h3>
            <ul class="pretty-scroll">
                <% if @applicant.antipref.length > 0 %>
                    <% @applicant.antipref.each do |item| %>
                        <li><%= item %></li>
                    <% end %>
                <% else %>
                    <span>None</span>
                <% end %>
            </ul>
        </div>
        <div>
            <h3 class="org-title" style="background: #fdcb6e;">Indifferents</h3>
            <ul class="pretty-scroll">
                <% if @applicant.indifferent.length > 0 %>
                    <% @applicant.indifferent.each do |item| %>
                        <li><%= item %></li>
                    <% end %>
                <% else %>
                    <span>None</span>
                <% end %>
            </ul>
        </div>
    </div>
    <p>Created <%= @applicant.created_at %></p>
    <p>Updated <%= @applicant.updated_at %></p>
</div>
<script src="/js/hide_list_helper.js"></script>