
 <% @application.each do |app| %>



<div class="main-content">
    <h2 align= "center"> <%= app.name %>'s Application</h2>
    <div class="org-container">
        <div>
            <h4>Email</h4>
            <%= app.email %>
        </div>
        <div>
            <h4>Degree Program</h4>
            <%= app.degree_program %>
        </div>
        <div>
            <h4>Years</h4>
            <%= app.years %>
        </div>
        <div>
            <h4>Advisor</h4>
            <%= app.advisor %>
        </div>
    </div>
    <div class="org-container">
        <div>
            <h4 class="org-title" style="background: #00b894;">Preferences</h4>
            <ul class="pretty-scroll">
                <% if app.preferences.length > 0 %>
                    <% app.preferences.each do |item| %>
                        <li><%= item %></li>
                    <% end %>
                <% else %>
                    <span>None</span>
                <% end %>
            </ul>
        </div>
        <div>
            <h4 class="org-title" style="background: #d63031;">Anti-Preferences</h4>
            <ul class="pretty-scroll">
                <% if app.antipref.length > 0 %>
                    <% app.antipref.each do |item| %>
                        <li><%= item %></li>
                    <% end %>
                <% else %>
                    <span>None</span>
                <% end %>
            </ul>
        </div>
        <div>
            <h4 class="org-title" style="background: #fdcb6e;">Indifferents</h4>
            <ul class="pretty-scroll">
                <% if app.indifferent.length > 0 %>
                    <% app.indifferent.each do |item| %>
                        <li><%= item %></li>
                    <% end %>
                <% else %>
                    <span>None</span>
                <% end %>
            </ul>
        </div>
    </div>
    <p>Created <%= app.created_at %></p>
    <p>Updated <%= app.updated_at %></p>
</div>
<% end %>

<td><%= link_to 'Delete Application', applicant_path(@application.first),
              method: :delete, class: 'text-danger',
              data: { confirm: 'Are you sure?' } %></td>
<br>
<br>
<br>
