<div class="main-content">
    <div class="content">
        <h2>Instructors</h2>
        <table class="borderless">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Remove</th>
        </tr>
        <% @instructors.each do |instructor| %>
            <tr>
                <td>
                    <%= instructor.username %>
                </td>
                <td>
                    <%= instructor.email %>
                </td>
                <td id="<%= instructor.email %>">
                    <%= link_to "x", instructors_remove_path(:email => instructor.email), :id=>"instructor_#{instructor.email}" %>
                </td>
            </tr>
        <% end %>
        </table>
        <h4 class="pad-top">Add Instructors</h4>
        <%= form_for :search, url: instructors_add_path do |form| %>
            <%= form.text_field :query, placeholder: "Email" %>
            <%= form.submit "Add" %>
        <% end %>
        <h2 class="pad-top">Non-Instructors</h2>
        <table class="borderless">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Add</th>
        </tr>
        <% @non_instructors.each do |person| %>
            <tr>
                <td>
                    <%= person.username %>
                </td>
                <td>
                    <%= person.email %>
                </td>
                <td id="<%= person.email %>">
                    <%= link_to "+", instructors__add_path(:email => person.email), :id=>"person_#{person.email}" %>
                </td>
            </tr>
        <% end %>
    </div>
</div>