<div class="main-content">
    <h1>Matchmaker</h1>
    <%= form_for :run, url: matchmaker_index_path do |form| %>
        <%= form.submit "Run Matchmaker", :class=>"fade-btn top-border" %>
    <% end %>
    <% if @entries %>
        <table class="borderless">
            <tr>
                <th>Course</th>
                <th>Status</th>
                <th>Applicant</th>
            </tr>
            <% @entries.each do |course, emails| %>
                <% @cur_status = emails.length %>
                <% @capacity = @courses[course].ta_count %>
                <% if @cur_status < (@capacity/3) %>
                    <% @status = 'red' %>
                <% elsif @cur_status < (@capacity*2/3) %>
                    <% @status = 'yellow' %>
                <% else %>
                    <% @status = 'green' %>
                <% end %>
                <tr>
                    <td style="text-align:center;"><%= course %></td>
                    <td style="text-align:center;" class="<%= @status %>"><%= emails.length %> / <%= @capacity %></td>
                    <td><%= emails[0] %></td>
                    <% (1..emails.length-1).each do |i| %>
                        <tr>
                            <td></td><td></td>
                            <td><%= emails[i] %></td>
                        </tr>
                    <% end %>
                </tr>
            <% end %>
        </table>
    <% else %>
        <p class="faint">No entries</p>
    <% end %>
</div>
