<div class="main-content">
    <h1>
        Matchmaker <span class="badge
        <% if @score <= 50 %>
            <%= 'red' %>
        <% elsif @score <= 75 %>
            <%= 'yellow' %>
        <% else %>
            <%= 'green' %>
        <% end %>"
        title="Matchmaking Score"><%= @score %></span>
        
    </h1>
    <div style="display: flex; flex-direction: row;">
    <%= form_for :run, url: matchmaker_refresh_match_path do |form| %>
        <%= form.submit "Run Matchmaker", :class=>"fade-btn top-border",
            :style=>"margin-bottom: 20px; margin-right: 20px;" %>
    <% end %>
    <%= form_for :export, url: matchmaker_export_path do |form| %>
        <%= form.submit "Export", :class=>"fade-btn top-border",
            :style=>"margin-bottom: 20px;" %>
    <% end %>
    </div>
  <script>
  document.addEventListener("turbolinks:load", function() {
      $( function() {
        $( "#sortable1, #sortable2, #sortable3" ).sortable({
          connectWith: ".connectedSortable"
        }).disableSelection();
      } );
      $("matchesSortable").sortable();
  });
  </script>

  <div id = "sortable1div" ondrop = "window.location.reload();">
      <% if @entries %>
        <div class="flex-row">
        <table class="borderless matchmaker-table">
            <tr>
                <th>Course</th>
                <th>Status</th>
                <th>Applicant</th>
            </tr>
            <% @entries.each do |course, applicants| %>
                <% @cur_status = applicants.length %>
                <% @capacity = @courses[course].ta_count %>
                <% if @cur_status < (@capacity/3) %>
                    <% @status = 'red' %>
                <% elsif @cur_status < (@capacity*2/3) %>
                    <% @status = 'yellow' %>
                <% else %>
                    <% @status = 'green' %>
                <% end %>
                <tr>
                    <td type="course" style="text-align:center;"><%= course %></td>
                    <td style="text-align:center;" class="<%= @status %>"><%= applicants.length %> / <%= @capacity %></td>
                    <td>
                        <ul id="sortable1" class="connectedSortable">
                         <% (0..applicants.length-1).each do |i| %>
                            <li course="<%= course%>" id = "emails_<%= applicants[i].email%>" class="ui-state-default mm-delete-btn">
                                <span class="mm-info-btn cute-btn" title="Info">
                                    <a href="<%= applicant_path(applicants[i].id) %>">i</a>
                                </span>
                                <span class="ui-icon ui-icon-arrowthick-2-n-s"></span><%= applicants[i].name %>
                                <span class="mm-delete-btn cute-btn" title="Remove">x</span>
                                <span class="mm-destroy-btn cute-btn" title="Destroy">
                                    <%= link_to "[||]", applicant_path(applicants[i].id), 
                                        method: :delete, 
                                        data: { confirm: 'Are you sure you want to delete this applicant?' } 
                                    %>
                                </span>
                            </li>
                         <% end %>
                        </ul>
                    </td>
                </tr>
            <% end %>
        </table>
        <div>
            <h4 class="pad-top">Non-matched applicants</h4>
            <div>
                <ul id="sortable1" class="connectedSortable">
    
                <% (@non_matched).each do |applicant| %>
                    <li course="<%= "" %>" id = "emails_<%= applicant.email %>" class="ui-state-default mm-delete-btn">
                        <span class="mm-info-btn cute-btn" title="Info">
                            <a href="<%= applicant_path(applicant.id) %>">i</a>
                        </span>
                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span><%= applicant.name %>
                        <span class="mm-delete-btn cute-btn" title="Remove">x</span>
                        <span class="mm-destroy-btn cute-btn" title="Destroy">
                            <%= link_to "[||]", applicant_path(applicant.id), 
                                method: :delete, 
                                data: { confirm: 'Are you sure you want to delete this applicant?' } 
                            %>
                        </span>
                    </li>
                <% end %>
                </ul>
            </div>
        </div>
        <div class="class-search" style="width: 30%;">
            <h4>Student Search</h4>
            <%= form_for :query, url: matchmaker_search_path do |form| %> 
              <%= form.text_field :text %>
              <%= form.submit "Search", :class => "fade-btn right-border" %>
            <% end %>
            <div style="min-height: 20px;">
                <ul id="sortable1" class="connectedSortable">
                    <% (@query_items).each do |applicant| %>
                        <li course="<%= "" %>" id = "emails_<%= applicant.email %>" class="ui-state-default mm-delete-btn">
                        <span class="mm-info-btn cute-btn" title="Info">
                            <a href="<%= applicant_path(applicant.id) %>">i</a>
                        </span>
                        <span class="ui-icon ui-icon-arrowthick-2-n-s"></span><%= applicant.name %>
                        <span class="mm-delete-btn cute-btn" title="Remove">x</span>
                        <span class="mm-destroy-btn cute-btn" title="Destroy">
                            <%= link_to "[||]", applicant_path(applicant.id), 
                                method: :delete, 
                                data: { confirm: 'Are you sure you want to delete this applicant?' } 
                            %>
                        </span>
                    </li>
                    <% end %>
                </ul>
            </div>
            
        </div>
        </div>
    <% else %>
        <p class="faint">No entries</p>
    <% end %>
  
<% if false %>
  <h1> This is the OG table.. </h1>
  
    
    <% if @entries %>
        <table class="borderless">
            <tr>
                <th>Course</th>
                <th>Status</th>
                <th>Applicant</th>
            </tr>
            <% @entries.each do |course, emails| %>
                <% @cur_status = emails.length %>
                <% @capacity = @courses[course].ta_count %>
                <% if @cur_status < (@capacity/3) %>
                    <% @status = 'red' %>
                <% elsif @cur_status < (@capacity*2/3) %>
                    <% @status = 'yellow' %>
                <% else %>
                    <% @status = 'green' %>
                <% end %>
                <tr>
                    <td style="text-align:center;"><%= course %></td>
                    <td style="text-align:center;" class="<%= @status %>"><%= emails.length %> / <%= @capacity %></td>
                    <td><%= emails[0].email %></td>
                    <% (1..emails.length-1).each do |i| %>
                        <tr>
                            <td></td><td></td>
                            <td><%= emails[i].email %></td> 
                        </tr>
                    <% end %>
                </tr>
            <% end %>
        </table>
    <% else %>
        <p class="faint">No entries</p>
    <% end %>
    
<% end %>
    <%= form_for :preference, url: matchmaker_change_match_path, :html => {:id => "payload-form"} do |form| %>
      <%= form.text_field :course %>
      <%= form.text_field :email %>
      <%= form.submit "Submit" %>
    <% end %>
    <script src="/js/matchmaker_updater.js"></script>
</div>

