<div class="main-content pad-top" style="margin:auto; width: 300px">
    
    <style>
body {
  background-color: #2c3b68;
}
</style>
     <!-- <%= link_to(image_tag("TanderLogo.png"), root_path) %> -->
     <%= image_tag("TanderLogo.png", :alt => "rss feed") -%>
     <br></br>
     <h5 style = "color:white">Welcome!</h5>
    <p>Please login to use TAnder:</p>
    <%= form_for :login, url: login_path do |form| %>
    <p></p>
      <%= form.text_field :email %>
      <%= form.submit "Email login link", :class=>"right-border fade-btn" %>
    <% end %>
    <ul>
      <li><%= link_to 'Sign in via Google', '/auth/google' %></li>
      <li>New User? <%= link_to 'Register!', register_path %></li>
    </ul>
    
   
</div>

