<!DOCTYPE html>
<html>
  <head>
    <title>TAnder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Coiny" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>

  <body>
    <% if !(['static', 'session', 'users'].include? params[:controller]) && (session[:user_token] && User.find_by(login_token: session[:user_token])) %>
    <div class="nav">
        <nav>
            
            <%= link_to(image_tag("TanderLogo2.png"), dashboard_path, 
              :class=>"fancy-hover")%>
            <!--<%= link_to "TAnder", dashboard_path, :class=>"logo fade-btn"%> -->
            <span class="filler"></span>
           
           
            <div>
              <%= link_to "logout", session_logout_path, style: 'color:#FFFFFF' %>
            </div>
        </nav>
    </div>
    <% end %>
    <p id="notice"><%= notice %></p>
    <%= yield %>
    <div class="inactive winter-is-missing">
      <img class="wim-sun" src="/assets/sun.svg"/>
      <img class="wim-ppl" src="/assets/winter_is_missing.svg"/>
      <div class="cute-letter letter1">
        <span>W</span>
      </div>
      <div class="cute-letter letter2">
        <span>i</span>
      </div>
      <div class="cute-letter letter3">
        <span>M</span>
      </div>
    </div>
  </body>
  
  
</html>
